{% extends "./layout.html.twig" %}

{% block title %}
    {{ parent() }}Ajouter
{% endblock %}

{% block content %}
    {% for message in app.flashes('added') %}
        <div class="flash-notice alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    {% for message in app.flashes('existing') %}
        <div class="flash-notice alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    {{  form_start(formContact) }}
        {{ form_row(formContact.FirstName) }}
        {{ form_row(formContact.LastName) }}
        {{ form_row(formContact.phoneNumber) }}
        {{ form_row(formContact.Email) }}
        <ul class="add-contact-companies" data-prototype="{{ form_widget(formContact.companies.vars.prototype)|e }}" style="padding-left: 0px">
        </ul>
        <input type="submit" class="btn btn-dark" value="Enregistrer" />
    {{ form_end(formContact) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('addContactForm') }}
{% endblock %}
