{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }}Ajouter
{% endblock %}

{% block content %}
    {% if is_granted('ROLE_REGULAR') %}
        {% for message in app.flashes('added') %}
            <div class="flash-notice alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        {% for message in app.flashes('existing') %}
            <div class="flash-notice alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        {{  form_start(formCompanie) }}
            {{ form_row(formCompanie.companie_name) }}
            {{ form_row(formCompanie.Adress) }}
            {{ form_row(formCompanie.postal_code) }}
            {{ form_row(formCompanie.City) }}
            {{ form_row(formCompanie.phone_number) }}
            {{ form_row(formCompanie.turnover) }}
            {{ form_row(formCompanie.social_reason) }}
            {{ form_row(formCompanie.type) }}
            <div class="accordion" id="accordionContact">
                <div class="card">
                    <div class="card-header" id="headingContact">
                        <h2 class="mb-0">
                            <button class="btn" type="button" data-toggle="collapse" data-target="#collapseContact" aria-expanded="false" aria-controls="collapseThree">
                                Ajouter un domaine d'activité non enregistré.
                            </button>
                        </h2>
                    </div>
                    <div id="collapseContact" class="collapse" aria-labelledby="headingContact" data-parent="#accordionContact">
                        <div class="alert alert-warning"><span>Attention, l'ajout d'un domaine d'activité non enregistré effacera le domaine sélectionné</span></div>
                        <div class="card-body">
                            {{ form_row(formCompanie.unexistingType)}}
                        </div>
                    </div>
                </div>
            </div>
            <a class="btn btn-dark" href="{{ path('_index') }}">
                Retour
            </a>
            <input type="submit" class="btn btn-dark" value="Enregistrer" />
        {{ form_end(formCompanie) }}
    {% endif %}
{% endblock %}
