{% extends "./layout.html.twig" %}

{% block title %}
    {{ parent() }}Mon Compte
{% endblock %}

{% block content %}
    <div class="container">
        {% for message in app.flashes('added') %}
            <div class="flash-notice alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        {% for message in app.flashes('warning') %}
            <div class="flash-notice alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        {{ form_start(formAccount) }}
        <div class="col">

            <div style="padding-bottom: 15px">
                <div class="row">
                    Nom : {{ user.FirstName }}
                </div>
                <div class="row">
                    Prénom : {{ user.LastName }}
                </div>
                <div class="row">
                    Email : {{ user.email }}
                </div>
                <div class="row">
                    Numéro de téléphone : {{ user.phoneNumber }}
                </div>
            </div>

            <div>
                <div class="row">
                    {{ form_errors(formAccount.oldPassword) }}
                    Mot de passe actuel:
                    {{ form_widget(formAccount.oldPassword) }}
                </div>
                <div class="row">
                    {{ form_errors(formAccount.email) }}
                    Changer d'email : {{ form_widget(formAccount.email, {attr: { value : "" }}) }}
                </div>

                <div class="row">
                    {{ form_errors(formAccount.phone_number) }}
                    Changer de numéro : {{ form_widget(formAccount.phone_number, {attr: { value : "" }}) }}
                </div>

                {{ form_errors(formAccount.password.first) }}
                <div class="row">
                    Changer de mot de passe :
                    {{ form_widget(formAccount.password.first) }}
                </div>
                <div class="row">
                    Confirmez le mot de passe:
                    {{ form_widget(formAccount.password.second) }}
                </div>
            </div>
        </div>
        <a class="btn btn-dark" href="{{ path('_index') }}">
            Retour
        </a>
        <input type="submit" class="btn btn-dark" value="Confirmer" />
        {{ form_end(formAccount) }}
    </div>
{% endblock %}