{% extends "layout.html.twig" %}

{% block title%}
    {{ parent() }}Accueil
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <a class="col-md-4" href="{{ path('_projects') }}">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                         preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                        <title>Projets</title>
                        <rect fill="#ffffff" width="100%" height="100%"></rect>
                        <image xlink:href="{{ asset('build/images/site/chantier_presentation.jpg') }}" x="0" y="0"
                               width="100%" height="100%"></image>
                    </svg>
                    <div class="card-body">
                        <p class="card-text">Projets</p>
                        <div class="d-flex justify-content-between align-items-center">
                        </div>
                    </div>
                </div>
            </a>
            <a class="col-md-4" href="{{ path('_companies') }}">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                         preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                        <title>Entreprises</title>
                        <rect fill="#ffffff" width="100%" height="100%"></rect>
                        <image xlink:href="{{ asset('build/images/site/entreprise_presentation.jpg') }}" x="0" y="0"
                               width="100%" height="100%"></image>
                    </svg>
                    <div class="card-body">
                        <p class="card-text">Entreprises</p>
                        <div class="d-flex justify-content-between align-items-center">
                        </div>
                    </div>
                </div>
            </a>
            <a class="col-md-4" href="{{ path('_contacts') }}">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                         preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                        <title>Contacts</title>
                        <rect fill="#ffffff" width="100%" height="100%"></rect>
                        <image xlink:href="{{ asset('build/images/site/contact_presentation.png') }}" x="0" y="0"
                               width="100%" height="100%"></image>
                    </svg>
                    <div class="card-body">
                        <p class="card-text">Contacts</p>
                        <div class="d-flex justify-content-between align-items-center">
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!--Btn add-->
        <div class="row">
            <div class="col-md-4">
                <a href="{{ path('_addProject') }}">
                    <button class="btn btn-dark">Ajouter un Projet</button>
                </a>
            </div>
            <div class="col-md-4">
                <a href="{{ path('_addCompanie') }}">
                    <button class="btn btn-dark">Ajouter une Entreprise</button>
                </a>
            </div>
            <div class="col-md-4">
                <a href="{{ path('_addContact') }}">
                    <button class="btn btn-dark">Ajouter un Contact</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}