{% extends "./layout.html.twig" %}

{% block title %}
    {{ parent() }}Recherche
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
{% endblock %}

{% block content %}
    <div>
        <div class="col">
            <div class="text-left">
                <h2>Contacts</h2>
            </div>
        </div>

        <table id="contacts-table" class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Entreprise</th>
                    <th>Poste</th>
                </tr>
            </thead>
            <tbody>
                {% for contact in contacts %}
                <tr>
                    <td>
                        <a href="{{ path('_contact', {'id': contact.Id}) }}">{{ contact.lastName() }}</a>
                    </td>
                    <td>
                        <a href="{{ path('_contact', {'id': contact.Id}) }}">{{ contact.firstName() }}</a>
                    </td>
                    <td>
                        <a href="{{ path('_contact', {'id': contact.Id}) }}">{{ contact.companie.companieName() }}</a>
                    </td>
                    <td>
                        <a href="{{ path('_contact', {'id': contact.Id}) }}">{{ contact.position() }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <div class="col">
            <div class="text-left">
                <h2>Entreprises</h2>
            </div>
        </div>

        <table id="companies-table" class="table table-striped table-bordered table-sm">
            <thead class="table-dark">
                <tr>
                    <th>Nom</th>
                    <th>Adress</th>
                    <th>Ville</th>
                    <th>Activité</th>
                </tr>
            </thead>
            <tbody>
            {% for companie in companies %}
                <tr>
                    <td>
                        <a href="{{ path('_companie', {'id': companie.Id}) }}">{{ companie.companieName() }}</a>
                    </td>
                    <td>
                        <a href="{{ path('_companie', {'id': companie.Id}) }}">{{ companie.adress() }}</a>
                    </td>
                    <td>
                        <a href="{{ path('_companie', {'id': companie.Id}) }}">{{ companie.city() }}</a>
                    </td>
                    <td>
                        <a href="{{ path('_companie', {'id': companie.Id}) }}">{{ companie.type.label() }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <div class="col">
            <div id="companies-title" class="text-left">
                <h2 class="text-left">Projets</h2>
            </div>
        </div>

        <table id="projects-table" class="table table-striped table-bordered table-sm">
            <thead class="table-dark">
                <tr>
                    <th>Nom</th>
                    <th>Adresse</th>
                    <th>Ville</th>
                    <th>Phase</th>
                </tr>
            </thead>
            <tbody>
            {% for project in projects %}
                <tr>
                    <td>
                        <a href="{{ path('_companie', {'id': project.Id}) }}">{{ project.projectName() }}</a>
                    </td>
                    <td>
                        <a href="{{ path('_companie', {'id': project.Id}) }}">{{ project.adress() }}</a>
                    </td>
                    <td>
                        <a href="{{ path('_companie', {'id': project.Id}) }}">{{ project.city }}</a>
                    </td>
                    <td>
                        <a href="{{ path('_companie', {'id': project.Id}) }}">
                            {% if project.phase == 0 %}
                                Etude
                            {% elseif project.phase == 1 %}
                                Avant projet Sommaire
                            {% elseif project.phase == 2 %}
                                Avant projet Détaillé
                            {% elseif project.phase == 3 %}
                                Chantier en cours
                            {% elseif project.phase == 4 %}
                                Terminé
                            {% endif %}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
    {{ encore_entry_script_tags('search') }}
{% endblock %}