{% extends "./layout.html.twig" %}

{% block title %}
    {{ parent() }}{{ companie.companieName() }}
{% endblock %}

{% block content %}
    <div class="row">
        <h2 id="companie-name" class="text-left">
            {{ companie.companieName }}
        </h2>
        {% if is_granted('ROLE_REGULAR') %}
            <div style="margin-left: auto">
                <a id="project-edit-btn" type="button" href="{{ path('_editCompanie', {'id': companie.id }) }}" class="btn btn-dark">
                    Editer
                </a>
            </div>
        {% endif %}
    </div>
    <div id="companie-info" class="row border border-secondary rounded" style="margin-bottom: 20px; padding: 5px;">
        <div class="col">
            <div class="row">
               Adresse: {{ companie.adress }} {{ companie.postalCode }} {{ companie.city }}
            </div>
            <div class="row">
                {% if not companie.phoneNumber == null %}
                    Numéro de Téléphone: {{ companie.phoneNumber }}
                {% endif %}
            </div>
        </div>
        <div class="col">
            <div class="row">
                Raison Social: <span style="margin-left: auto;margin-right: 45%">{{ companie.socialReason }}</span>
            </div>
            <div class="row">
                Chiffre d'affaire: <span style="margin-left: auto;margin-right: 45%">{{ companie.turnover }}</span>
            </div>
            <div class="row">
                Domaine d'activité: <span style="margin-left: auto;margin-right: 45%">{{ companie.type.label }}</span>
            </div>
        </div>
        <div class="col">
            {% if not companie.lastUpdateAt == null %}
            <div class="row">
                Dernière mise à jour : <span style="margin-left: auto;margin-right: 45%">{{ companie.lastUpdateAt | date('d-m-Y') }}</span>
            </div>
            <div class="row">
                Mise à jour par : <span style="margin-left: auto;margin-right: 45%">{{ companie.lastUpdateBy.firstName }} {{ companie.lastUpdateBy.lastName }}</span>
            </div>
            {% endif %}
        </div>
    </div>
    <div id="companie-links" class="row border border-secondary rounded" style="margin-top: 20px;padding: 5px">
        <div id="projects-col" class="col">
            <div id="companie-projectNum" class="row">
                Nombre de projet: {{ companie.project.count }}
            </div>
            <div>
                <table data-toggle="table" data-search="true">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col" data-sortable="true">Nom du Projet</th>
                        <th scope="col" data-sortable="true">Ville</th>
                        <th scope="col" data-sortable="true">Adresse</th>
                        <th scope="col" data-sortable="true">Date de Début</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for project in companie.project %}
                            <tr>
                                <td scope="col">
                                    <a href="{{ path('_project', {'id': project.id}) }}">
                                        {{ project.project.projectName }}
                                    </a>
                                </td>
                                <td scope="col">
                                    <a href="{{ path('_project', {'id': project.id }) }}">
                                        {{ project.project.City }}
                                    </a>
                                </td>
                                <td scope="col">
                                    <a href="{{ path('_project', {'id': project.id }) }}">
                                        {{ project.project.Adress }}
                                    </a>
                                </td>
                                <td scope="col">
                                    <a href="{{ path('_project', {'id': project.id}) }}">
                                        {{ project.project.StartedAt|date("d/m/Y") }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div id="contact-col" class="col">
            <div id="companie-contactNum" class="row">
                Effectif: {{ companie.effective }}
            </div>
            <div>
                <table data-toggle="table" data-search="true">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" data-sortable="true">Nom</th>
                            <th scope="col" data-sortable="true">Prénom</th>
                            <th scope="col" data-sortable="true">Téléphone</th>
                            <th scope="col" data-sortable="true">Mail</th>
                            <th scope="col" data-sortable="true">Entreprise</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for employee in companie.employees %}
                                <tr>
                                    <td scope="col">
                                        <a href="{{ path('_contact', {'id': employee.id}) }}">
                                            {{ employee.lastName }}
                                        </a>
                                    </td>
                                    <td scope="col">
                                        <a href="{{ path('_contact', {'id': employee.id}) }}">
                                            {{ employee.firstName }}
                                        </a>
                                    </td>
                                    <td scope="col">
                                        <a href="{{ path('_contact', {'id': employee.id}) }}">
                                            {{ employee.phoneNumber}}
                                        </a>
                                    </td>
                                    <td scope="col">
                                        <a href="{{ path('_contact', {'id': employee.id}) }}">
                                            {{ employee.email }}
                                        </a>
                                    </td>
                                    <td scope="col">
                                        <a href="{{ path('_companie', {'id': companie.id}) }}">
                                            {{ companie.companieName }}
                                        </a>
                                    </td>
                                </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}