{% extends "./layout.html.twig" %}

{% block title %}
    {{ parent() }}{{ companie.companieName() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
{% endblock %}

{% block content %}
    <div class="row">
        <h2 id="companie-name" class="text-left">
            {{ companie.companieName }}
        </h2>
        {% if is_granted('ROLE_REGULAR') %}
            <div style="margin-left: auto">
                <a id="project-edit-btn" type="button" href="{{ path('_editCompanie', {'id': companie.id }) }}" class="btn btn-dark">
                    Editer
                </a>
            </div>
        {% endif %}
    </div>
    <div id="companie-info" class="row border border-secondary rounded" style="margin-bottom: 20px; padding: 5px;">
        <div class="col">
            <div class="row">
                Adresse: {{ companie.adress }} {{ companie.postalCode }}
            </div>
            <div class="row">
                Ville : <span style="margin-left: auto;margin-right: 45%"> {{ companie.city }}</span>
            </div>
            <div class="row">
                {% if not companie.phoneNumber == null %}
                    Numéro de Téléphone: <span style="margin-left: auto;margin-right: 45%">{{ companie.phoneNumber }}</span>
                {% endif %}
            </div>
            <div class="row">
                Raison Social: <span style="margin-left: auto;margin-right: 45%">{{ companie.socialReason }}</span>
            </div>
            <div class="row">
                Chiffre d'affaire: <span style="margin-left: auto;margin-right: 45%">{{ companie.turnover }}</span>
            </div>
            <div class="row">
                Domaine d'activité: <span style="margin-left: auto;margin-right: 45%">{{ companie.type.label }}</span>
            </div>
        </div>
        {% if not companie.lastUpdateAt == null %}
            <div class="col">
                <div class="row">
                    Dernière mise à jour : <span style="margin-left: auto;margin-right: 45%">{{ companie.lastUpdateAt | date('d-m-Y') }}</span>
                </div>
                <div class="row">
                    Mise à jour par : <span style="margin-left: auto;margin-right: 45%">{{ companie.lastUpdateBy.firstName }} {{ companie.lastUpdateBy.lastName }}</span>
                </div>
            </div>
        {% endif %}
        <div class="col">
{#            TODO Add google maps for companies#}
            <iframe src="https://www.google.com/maps/embed/v1/place?q=15%20Rue%20du%20Mar%C3%A9chal%20Lefebvre%2C%2067100%20Strasbourg"
                    width="300" height="300" frameborder="0" class="border border-dark rounded" allowfullscreen></iframe>
        </div>
    </div>
    <div id="companie-links" class="row border border-secondary rounded" style="margin-top: 20px;padding: 5px">
        <div id="projects-col" class="col">
            <div id="companie-projectNum" class="row">
                Nombre de projet: {{ companie.project.count }}
            </div>
            <div>
                <table id="projects-table" class="table table-striped table-bordered">
                    <thead class="table-dark">
                    <tr>
                        <th>Nom du Projet</th>
                        <th>Ville</th>
                        <th>Adresse</th>
                        <th>Date de Début</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for project in companie.project %}
                            <tr>
                                <td>
                                    <a href="{{ path('_project', {'id': project.id}) }}"> {{ project.project.projectName }} </a>
                                </td>
                                <td>
                                    <a href="{{ path('_project', {'id': project.id }) }}"> {{ project.project.City }} </a>
                                </td>
                                <td>
                                    <a href="{{ path('_project', {'id': project.id }) }}"> {{ project.project.Adress }} </a>
                                </td>
                                <td>
                                    <a href="{{ path('_project', {'id': project.id}) }}"> {{ project.project.StartedAt|date("d/m/Y") }} </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div id="contact-col" class="col">
            <div id="companie-contactNum" class="row">
                Effectif: {{ companie.employees.count }}
            </div>
            <div>
                <table id="contacts-table" class="table table-striped table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Téléphone</th>
                            <th>Mail</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for employee in companie.employees %}
                                <tr>
                                    <td>
                                        <a href="{{ path('_contact', {'id': employee.id}) }}"> {{ employee.lastName }} </a>
                                    </td>
                                    <td>
                                        <a href="{{ path('_contact', {'id': employee.id}) }}"> {{ employee.firstName }} </a>
                                    </td>
                                    <td>
                                        <a href="{{ path('_contact', {'id': employee.id}) }}"> {{ employee.phoneNumber}} </a>
                                    </td>
                                    <td>
                                        <a href="{{ path('_contact', {'id': employee.id}) }}"> {{ employee.email }} </a>
                                    </td>
                                </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
    {{ encore_entry_script_tags('companieDetails') }}
{% endblock %}