{% extends "./layout.html.twig" %}

{% block title %}
    {{ parent() }}Contactes
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
{% endblock %}

{% block content %}
    <div class="col">
        <div id="contacts-title" class="text-left">
            <h2>Contacts</h2>
        </div>
    </div>
    <div class="col text-right">
        <a class="btn btn-dark" href="{{ path('_index') }}">
            Retour
        </a>
        <a class="btn btn-dark" href="{{ path('_addContact') }}">
            Ajouter
        </a>
    </div>

    <table id="contacts-table" class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Numéro de téléphone</th>
                <th>Email</th>
                <th>Entreprise</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>
                    <a href="{{ path('_contact', {'id': contact.Id}) }}"> {{ contact.lastName }} </a>
                </td>
                <td>
                    <a href="{{ path('_contact', {'id': contact.Id}) }}"> {{ contact.firstName }} </a>
                </td>
                <td>
                    <a href="{{ path('_contact', {'id': contact.Id}) }}"> {{ contact.phoneNumber }} </a>
                </td>
                <td>
                    <a href="{{ path('_contact', {'id': contact.Id}) }}"> {{ contact.email }} </a>
                </td>
                <td>
                    <a href="{{ path('_companie', {'id': contact.companie.Id}) }}"> {{ contact.companie.companieName }} </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
    {{ encore_entry_script_tags('contactList') }}
{% endblock %}