{% extends "./layout.html.twig" %}

{% block title %}
    {{ parent() }}{{ contact.lastName }} {{ contact.firstName }}
{% endblock %}

{% block content %}
    <h2 id="contact-name" class="text-left">
        {{ contact.lastName }} {{ contact.firstName }}
    </h2>
    <div id="contact-info" class="row border border-secondary rounded" style="margin-bottom: 20px; padding: 5px;">
        <div class="col">
            <div class="row">
                Email: <span style="margin-left: auto;margin-right: 45%">{{ contact.email }}</span>
            </div>
            <div class="row">
                Numéro de Téléphone: <span style="margin-left: auto;margin-right: 45%">{{ contact.phoneNumber }}</span>
            </div>
        </div>
        <div class="col">
            <div class="row">
                Entreprise : <span style="margin-left: auto;margin-right: 45%">{{ contact.companies.last.companie.CompanieName }}</span>
            </div>
        </div>
        <div class="col">
            <div class="row">
                Ajouté le : <span style="margin-left: auto;margin-right: 45%">{{ contact.companies.first.addedAt | date('d-m-Y') }}</span>
            </div>
            <div class="row">
                Par :<a href="{{ path('_profile', {'id': contact.companies.first.addedBy.id}) }}" style="margin-left: auto;margin-right: 45%">{{ contact.companies.first.addedBy.UserName}}</a>
            </div>
        </div>
    </div>
{% endblock %}