{% extends "./layout.html.twig" %}

{% block title %}
    {{ parent() }}{{ contact.lastName }} {{ contact.firstName }}
{% endblock %}

{% block content %}
    <div class="row">
        <h2 id="contact-name" class="text-left">
            {{ contact.lastName }} {{ contact.firstName }}
        </h2>
        {% if not is_granted('ROLE_GUEST') %}
            <div style="margin-left: auto">
                <a id="project-edit-btn" type="button" href="{{ path('_editContact', {'id': contact.id }) }}" class="btn btn-dark">
                    Editer
                </a>
            </div>
        {% endif %}
    </div>
    <div id="contact-info" class="row border border-secondary rounded" style="margin-bottom: 20px; padding: 5px;">
        <div class="col">
            <div class="row">
                Email: <span style="margin-left: auto;margin-right: 45%">{{ contact.email }}</span>
            </div>
            <div class="row">
                Numéro de Téléphone: <span style="margin-left: auto;margin-right: 45%">{{ contact.phoneNumber }}</span>
            </div>
        </div>
        <div class="col">
            <div class="row">
                Entreprise : <span style="margin-left: auto;margin-right: 45%">
                    <a href="{{ path('_companie', {'id': contact.companie.Id}) }}">
                        {{ contact.companie.CompanieName }}
                    </a>
                </span>
            </div>
            <div class="row">
                Poste : <span style="margin-left: auto;margin-right: 45%">
                    {{ contact.position }}
                </span>
            </div>
        </div>
        <div class="col">
            <div class="row">
                Ajouté le : <span style="margin-left: auto;margin-right: 45%">{{ contact.addedAt | date('d-m-Y') }}</span>
            </div>
            <div class="row">
                Par :<a href="{{ path('_profile', {'id': contact.addedBy.id}) }}" style="margin-left: auto;margin-right: 45%">{{ contact.addedBy.FirstName }} {{ contact.addedBy.LastName }}</a>
            </div>
        </div>
    </div>
    <div>
        <table data-toggle="table" data-search="true">
            <thead class="thead-dark">
            <tr>
                <th scope="col" data-sortable="true">Nom du Projet</th>
                <th scope="col" data-sortable="true">Ville</th>
                <th scope="col" data-sortable="true">Adresse</th>
                <th scope="col" data-sortable="true">Date de Début</th>
            </tr>
            </thead>
            <tbody>
            {% for project in contact.projects %}
                <tr>
                    <td scope="col">
                        <a href="{{ path('_project', {'id': project.id}) }}">
                            {{ project.ProjectName }}
                        </a>
                    </td>
                    <td scope="col">
                        <a href="{{ path('_project', {'id': project.id }) }}">
                            {{ project.City }}
                        </a>
                    </td>
                    <td scope="col">
                        <a href="{{ path('_project', {'id': project.id }) }}">
                            {{ project.Adress }}
                        </a>
                    </td>
                    <td scope="col">
                        <a href="{{ path('_project', {'id': project.id}) }}">
                            {{ project.StartedAt|date("d/m/Y") }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{#    TODO Display project list #}
{% endblock %}