{% extends "./layout.html.twig" %}

{% block title %}
    {{ parent() }}{{ contact.lastName }} {{ contact.firstName }}
{% endblock %}

{% block content %}
    <h2 id="contact-name" class="text-left">
        {{ contact.lastName }} {{ contact.firstName }}
    </h2>
    <div id="contact-info" class="row border border-secondary rounded" style="margin-bottom: 20px; padding: 5px;">
        <div class="col">
            <div class="row">
                Email: {{ contact.email }}
            </div>
            <div class="row">
                Numéro de Téléphone: {{ contact.phoneNumber }}
            </div>
        </div>
        <div class="col">
            <div class="row">
                Entreprise : {{ contact.companies.last.companie.CompanieName }}
            </div>
        </div>
        <div class="col">
            <div class="row">
                Ajouté le : {{ contact.companies.first.addedAt | date('d-m-Y') }}
            </div>
            <div class="row">
                Par :<a href="{{ path('_profile', {'id': contact.companies.first.addedBy.id}) }}">{{ contact.companies.first.addedBy.UserName}}</a>
            </div>
        </div>
    </div>
{% endblock %}