{% extends "base.html.twig" %}

{% block body %}
    <nav class="navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow" id="navbar-top">
        <button type="button" class="btn btn-dark" id="btn-vNav">
            <span data-feather="align-justify"></span>
        </button>
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Connect'</a>

        {#  Affichage de la barre de recherche #}
        <div class="btn-group" id="search-container">
            {{ form.content | raw }}
        </div>

        {% if is_granted('ROLE_ADMIN') %}
            <div class="navbar-nav px-3" id="account-list">
                <a class="nav-link text-nowrap" href="{{ path('admin_dashboard') }}" style="padding-top: 13px;">Administration</a>
            </div>
        {% endif %}
        <div class="navbar-nav px-3"
             {% if not is_granted('ROLE_ADMIN') %}id="account-list" {% endif %}
        >
            <a class="nav-link text-nowrap" href="{{ path('_account') }}" style="padding-top: 13px;">Mon compte</a>
        </div>
        <div class="navbar-nav px-3">
            <a class="nav-link text-nowrap" id="logout" href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    </nav>

    {#  Menue latéral gauche #}
    <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar" id="sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <!-- Accueil -->
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('_index') }}">
                                <span data-feather="home"></span>
                                Accueil<span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <!-- Projets -->
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('_projects') }}">
                                <span data-feather="box"></span>
                                Projets
                            </a>
                        </li>
                        <!-- Entreprises -->
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('_companies') }}">
                                <span data-feather="briefcase"></span>
                                Entreprises
                            </a>
                        </li>
                        <!-- Contacts -->
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('_contacts') }}">
                                <span data-feather="users"></span>
                                Contacts
                            </a>
                        </li>
                        <!--Mon compte-->
                        <li class="nav-item" style="padding-top: 15px">
                            <a class="nav-link" href="{{ path('_account') }}">
                                <span data-feather="user"></span>
                                Mon Compte
                            </a>
                        </li>
                    </ul>
{#                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">#}
{#                        <span>Derniers Ajouts</span>#}
{#                    </h6>#}
                </div>
            </nav>
    </div>

    {#  Partie centrale de la page #}
    <main role="main" class="px-4" id="content">
        <div class="album py-5 text-center">
            {% block content %}
            {% endblock %}
        </div>
    </main>
{% endblock %}

{% block footer %}
{% endblock %}