{% extends "./layout.html.twig" %}

{% block title %}
    {{ parent() }}Projets
{% endblock %}

{% block content %}
    {% set i, init = 0, false %}
    <div class="row">
        {% for project in projects %}
            <a class="col-md-4" href="{{ path('_project', {'id': project.getId}) }}" style="margin-left: 15px;margin-right: 15px;max-width: 30%">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                         preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                        <title>{{ project.projectName }}</title>
                        <rect fill="#ffffff" width="100%" height="100%"></rect>
                        {% for file in project.files if file.IsProjectImage %}
                                <image xlink:href="{{ vich_uploader_asset(file, 'file')}}" x="0" y="0"
                                       width="100%" height="100%"></image>
                        {% endfor %}
                    </svg>
                    <div class="card-body">
                        <p class="card-text">{{ project.projectName }}</p>
                        <div class="d-flex justify-content-between align-items-center text-secondary">
                            {{ project.adress }}
                            {{ project.postalCode }}
                            {{ project.city }}
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}