{% extends "./layout.html.twig" %}

{% block title %}
    {{ parent() }}{{ project.projectName() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('projectDetails') }}
{% endblock %}

{% block content %}
{#  TODO get google map API Key to allow a map request#}
    {% for message in app.flashes('added') %}
        <div class="flash-notice alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    {% for message in app.flashes('existing') %}
        <div class="flash-notice alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    <div class="row">
        <div class="col">
            <h2 id="project-title" class="text-left">
                {{ project.projectName | title }}
            </h2>
            <div class="row">
                <div class="text-secondary project-adress">
                    Adresse : {{ project.adress }}, {{ project.postalCode }} {{ project.city }}
                </div>
            </div>
            <div class="row">
                <iframe src="https://www.google.com/maps/embed/v1/place?q=15%20Rue%20du%20Mar%C3%A9chal%20Lefebvre%2C%2067100%20Strasbourg"
                        width="300" height="300" frameborder="0" class="border border-dark rounded" allowfullscreen></iframe>
            </div>
        </div>
        <div id="project-companie-colum" class="col">
            <div class="text-left">
                Entreprises :
                <table data-toggle="table" data-search="true">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col" data-sortable="true">Entreprise</th>
                        <th scope="col" data-sortable="true">Domaine d'activité</th>
                    </tr>
                    </thead>
                    <tbody>
                        {{ render(controller('App\\Controller\\ProjectCompaniesController::ProjectCompanies', {'project' : project})) }}
                    </tbody>
                </table>
            </div>
        </div>
        <div id="project-contact-column" class="col">
            <div class="text-left">
                Contacts :
                <table data-toggle="table" data-search="true">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" data-sortable="true">Nom</th>
                            <th scope="col" data-sortable="true">Prénom</th>
                            <th scope="col" data-sortable="true">Entreprise</th>
                            <th scope="col" data-sortable="true">Type d'entreprise</th>
                            <th scope="col" data-sortable="true">Poste</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ render(controller('App\\Controller\\ProjectContactsController::ProjectContacts', {'project' : project})) }}
                    </tbody>
                </table>
            </div>
        </div>
        <div id="project-specificities" class="col">
            <div class="card mb-4 shadow-sm float-right">
                <div class="card-header">
                    {{ project.projectName }}
                </div>
                <svg class="bd-placeholder-img card-img-top" width="100%" height="300" xmlns="http://www.w3.org/2000/svg"
                     preserveAspectRatio="xMidYMid slice" focusable="false" role="img" style="margin-top: 5px"
                     aria-label="Placeholder: Thumbnail">
                    <title>{{ project.projectName }}</title>
                    <rect fill="#ffffff" width="45%" height="100%"></rect>
                    {% for file in project.files if file.IsProjectImage %}
                        <image xlink:href="{{ vich_uploader_asset(file, 'file')}}" x="0" y="0" width="100%" height="100%"></image>
                    {% endfor %}
                </svg>
                <div class="card-body text-wrap">
                    <div class="row text-secondary text-sm-left">
                        Date de début: {{ project.startedAt|date ("d/m/Y") }}
                    </div>
                    {% if project.endedAt != null %}
                        <div class="row text-secondary text-sm-left">
                            Date de Fin :{{ project.endedAt|date ("d/m/Y") }}
                        </div>
                    {% endif %}
                    {% if project.cost != null %}
                        <div class="row text-secondary">
                            Coût: {{ project.cost }}€
                        </div>
                    {% else %}
                        <div class="row text-secondary">
                            Coût: -
                        </div>
                    {% endif %}
                    <div class="row text-secondary">
                        Statut:
                        {% if project.phase == 0 %}
                            Etude
                        {% elseif project.phase == 1 %}
                            Avant projet Sommaire
                        {% elseif project.phase == 2 %}
                            Avant projet Détaillé
                        {% elseif project.phase == 3 %}
                            Chantier en cours
                        {% elseif project.phase == 4 %}
                            Terminé
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if is_granted('ROLE_REGULAR') %}
                <div class="text-right">
                    <a id="project-edit-btn" type="button" href="{{ path('_editProject', {'id': project.id }) }}" class="btn btn-dark">
                        Editer
                    </a>
                </div>
            {% endif %}
        </div>
    </div>

    {% if is_granted('ROLE_REGULAR') %}
        <h3>Fichiers</h3>
        <div id="file-collection" class="border border-dark rounded-top row border-dark">
            {% for file in project.files %}
                <div class="card shadow-sm bg-light mb-3" style="max-width: 10em;">
                    <div class="file-display" style="min-height: 10em; max-width: 100%">
                        {% if file.fileMineType == 'image/jpeg'
                            or file.fileMineType == 'image/jpg'
                            or file.fileMineType == 'image/png' %}
                            <img class="img-file card-img-top" src="{{ vich_uploader_asset(file, 'file') }}" alt="{{ file.fileOriginalName }}" width="100%" height="100">

                        {% elseif file.fileMineType == 'application/pdf' %}
                            <img class="img-file card-img-top" src="{{ asset('build/images/site/pdf.png') }}" alt="Image Pdf" width="100%" height="100">

                        {% elseif file.fileMineType == 'application/vnd.ms-excel'
                            or file.fileMineType == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
                            or file.fileMineType == 'application/vnd.oasis.opendocument.spreadsheet' %}
                            <img class="img-file card-img-top" src="{{ asset('build/images/site/excel.png') }}" alt="Image Excel" width="100%" height="100">

                        {% else %}
                            <span data-feather="file-text"></span>

                        {% endif %}
                    </div>
                    <div class="card-body text-wrap">
                        <a class="file-link" href="{{ vich_uploader_asset(file, 'file') }}">{{ file.fileOriginalName }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if is_granted('ROLE_REGULAR') %}
        {{ encore_entry_script_tags('projectDetails') }}
    {% endif %}
{% endblock %}